.section {
  height: 100vh;
  position: relative;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}

.video-container {
  width: 70%;
  height: 70%;
  transform-origin: bottom center;
  transform: perspective(600px) rotateX(20deg);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .section {
    height: fit-content;
    padding: 50px 10px;
  }

  .video-container {
    width: 80%;
    height: 80%;
    transform-origin: bottom center;
    transform: none;
    opacity: 1;
  }
}
